In [448]:
# All the required imports 
import requests, json, pandas as pd, os
from dotenv import load_dotenv
from datetime import datetime

In [449]:
# Loads the api keys from environment 
load_dotenv()
polygon_key = os.environ['polygon_key']
serpapi_key = os.environ['serpapi_key']
finhub_key = os.environ['finhub_key']
alphav_key = os.environ['alphav_key']

In [450]:
# Fetches stock info for NIKE from Jan 1 2023 to Present
ticker = 'NKE'
endpoint_url = f'https://api.polygon.io/v2/aggs/ticker/{ticker}/range/1/day/2023-01-01/2024-07-09?adjusted=true&sort=asc&limit=0&apiKey={polygon_key}'
response = requests.get(endpoint_url)

# Parses JSON string to Python Dictionary
parsed = json.loads(response.content)

In [451]:
# Creates data frame with column names
df_nike = pd.DataFrame(columns=['Date','Open', 'High', 'Low', 'Close', 'Volume', 'VWAP', 'Transactions'])

# Loops through 'results'
for row in parsed['results']:
    # Extracts the data and creates a new row
    new_row = {'Date': row['t'], 'Open': row['o'], 'High': row['h'],
                'Low': row['l'], 'Close': row['c'], 'Volume': row['v'], 'VWAP': row['vw'], 'Transactions': row['n']}
    # Appends new row to data frame
    df_nike = pd.concat([df_nike, pd.DataFrame([new_row])], ignore_index=True)

/var/folders/7z/62zqq87s4kgflwh21c1mktwh0000gn/T/ipykernel_65913/4130163728.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_nike = pd.concat([df_nike, pd.DataFrame([new_row])], ignore_index=True)

In [452]:
# Converts unix Msec timestamp to month/day/year format
df_nike['Date'] = pd.to_datetime(df_nike['Date'], unit='ms').dt.strftime('%m/%d/%y')

# Rounds daily low to nears two decimal point
df_nike = df_nike.round(2)

In [453]:
# Reading data from secondary source to ensure data accuracy 
df_nike_nasdaq = pd.read_csv('csv_files/NKE.csv')

In [454]:
# Gets rid of '$' symbol and changes type to float
df_nike_nasdaq['Close'] = df_nike_nasdaq['Close'].str.replace('$', '').astype(float)
df_nike_nasdaq['Open'] = df_nike_nasdaq['Open'].str.replace('$', '').astype(float)
df_nike_nasdaq['High'] = df_nike_nasdaq['High'].str.replace('$', '').astype(float)
df_nike_nasdaq['Low'] = df_nike_nasdaq['Low'].str.replace('$', '').astype(float)

# Rounds all values to 2 decimal places
df_nike_nasdaq = df_nike_nasdaq.round(2)

# Date is already in the m/d/y format
#df_nike_nasdaq['Date'] = pd.to_datetime(df_nike_nasdaq['Date']).dt.strftime('%m/%d/%y')

In [455]:
# Reverses dataframe so it follows same order as original df
df_nike_nasdaq = df_nike_nasdaq[::-1]
df_nike_nasdaq = df_nike_nasdaq.reset_index(drop='True')

In [456]:
# Finds if there is any different between the values
# Only found a $0.32 difference the 'High' value on 06/05/23
# I consider that negligible and don't think that will have any huge affect on my data
cols = ['Open', 'High', 'Low', 'Close']
df_difference = df_nike[cols] - df_nike_nasdaq[cols]
df_difference[(df_difference[['Open', 'Close', 'High', 'Low']] != 0).any(axis=1)]
#df_nike.loc[105]

     Open  High  Low  Close
105   0.0  0.32  0.0    0.0

# Pulling in data for Deckers Outdoor Corporation

In [457]:
ticker = 'DECK'
endpoint_url = f'https://api.polygon.io/v2/aggs/ticker/{ticker}/range/1/day/2023-01-01/2024-07-09?adjusted=true&sort=asc&limit=0&apiKey={polygon_key}'
response = requests.get(endpoint_url)

# Parses JSON string to Python Dictionary
parsed = json.loads(response.content)

In [458]:
# Creates data frame with column names
df_decker = pd.DataFrame(columns=['Date','Open', 'High', 'Low', 'Close', 'Volume', 'VWAP', 'Transactions'])

# Loops through 'results'
for row in parsed['results']:
    # Extracts the data and creates a new row
    new_row = {'Date': row['t'], 'Open': row['o'], 'High': row['h'],
                'Low': row['l'], 'Close': row['c'], 'Volume': row['v'], 'VWAP': row['vw'], 'Transactions': row['n']}
    # Appends new row to data frame
    df_decker = pd.concat([df_decker, pd.DataFrame([new_row])], ignore_index=True)

/var/folders/7z/62zqq87s4kgflwh21c1mktwh0000gn/T/ipykernel_65913/2587989883.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_decker = pd.concat([df_decker, pd.DataFrame([new_row])], ignore_index=True)

In [459]:
# Converts unix Msec timestamp to month/day/year format
df_decker['Date'] = pd.to_datetime(df_decker['Date'], unit='ms').dt.strftime('%m/%d/%y')

# Rounds daily low to nears two decimal point
df_decker = df_decker.round(2)

In [990]:
df_decker_nasdaq = pd.read_csv('csv_files/DECK.csv')

In [461]:
# Gets rid of '$' symbol and changes type to float
df_decker_nasdaq['Close'] = df_decker_nasdaq['Close'].str.replace('$', '').astype(float)
df_decker_nasdaq['Open'] = df_decker_nasdaq['Open'].str.replace('$', '').astype(float)
df_decker_nasdaq['High'] = df_decker_nasdaq['High'].str.replace('$', '').astype(float)
df_decker_nasdaq['Low'] = df_decker_nasdaq['Low'].str.replace('$', '').astype(float)

# Rounds all values to 2 decimal places
df_decker_nasdaq = df_decker_nasdaq.round(2)

# Date is already in the m/d/y format
# df_decker_nasdaq['Date'] = pd.to_datetime(df_decker_nasdaq['Date']).dt.strftime('%m/%d/%y')

In [462]:
# Reverses dataframe so it follows same order as original df
df_decker_nasdaq = df_decker_nasdaq[::-1]
df_decker_nasdaq = df_decker_nasdaq.reset_index(drop='True')

In [463]:
# Found no inconsistencies when compared to data from Nasdaq
cols = ['Open', 'High', 'Low', 'Close', 'Volume']
df_difference = df_decker[cols] - df_decker_nasdaq[cols]
df_difference[(df_difference[['Open', 'Close', 'High', 'Low']] != 0).any(axis=1)]

Empty DataFrame
Columns: [Open, High, Low, Close, Volume]
Index: []

# Data for Spotify

In [464]:
ticker = 'SPOT'
endpoint_url = f'https://api.polygon.io/v2/aggs/ticker/{ticker}/range/1/day/2023-01-01/2024-07-09?adjusted=true&sort=asc&limit=0&apiKey={polygon_key}'
response = requests.get(endpoint_url)

# Parses JSON string to Python Dictionary
parsed = json.loads(response.content)

In [465]:
# Creates data frame with column names
df_spotify = pd.DataFrame(columns=['Date','Open', 'High', 'Low', 'Close', 'Volume', 'VWAP', 'Transactions'])

# Loops through 'results'
for row in parsed['results']:
    # Extracts the data and creates a new row
    new_row = {'Date': row['t'], 'Open': row['o'], 'High': row['h'],
                'Low': row['l'], 'Close': row['c'], 'Volume': row['v'], 'VWAP': row['vw'], 'Transactions': row['n']}
    # Appends new row to data frame
    df_spotify = pd.concat([df_spotify, pd.DataFrame([new_row])], ignore_index=True)

/var/folders/7z/62zqq87s4kgflwh21c1mktwh0000gn/T/ipykernel_65913/1895166580.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_spotify = pd.concat([df_spotify, pd.DataFrame([new_row])], ignore_index=True)

In [466]:
# Converts unix Msec timestamp to month/day/year format
df_spotify['Date'] = pd.to_datetime(df_spotify['Date'], unit='ms').dt.strftime('%m/%d/%y')

# Rounds daily low to nears two decimal point
df_spotify = df_spotify.round(2)

In [467]:
df_spotify_nasdaq = pd.read_csv('csv_files/SPOT.csv')

In [468]:
# Gets rid of '$' symbol and changes type to float
df_spotify_nasdaq['Close'] = df_spotify_nasdaq['Close'].str.replace('$', '').astype(float)
df_spotify_nasdaq['Open'] = df_spotify_nasdaq['Open'].str.replace('$', '').astype(float)
df_spotify_nasdaq['High'] = df_spotify_nasdaq['High'].str.replace('$', '').astype(float)
df_spotify_nasdaq['Low'] = df_spotify_nasdaq['Low'].str.replace('$', '').astype(float)

# Rounds all values to 2 decimal places
df_spotify_nasdaq = df_spotify_nasdaq.round(2)

# Date is already in the m/d/y format
# df_spotify_nasdaq['Date'] = pd.to_datetime(df_spotify_nasdaq['Date']).dt.strftime('%m/%d/%y')

In [469]:
# Reverses dataframe so it follows same order as original df
df_spotify_nasdaq = df_spotify_nasdaq[::-1]
df_spotify_nasdaq = df_spotify_nasdaq.reset_index(drop='True')

In [470]:
# Found no inconsistencies when compared to data from Nasdaq
cols = ['Open', 'High', 'Low', 'Close', 'Volume']
df_difference = df_spotify[cols] - df_spotify_nasdaq[cols]
df_difference[(df_difference[['Open', 'Close', 'High', 'Low']] != 0).any(axis=1)]

Empty DataFrame
Columns: [Open, High, Low, Close, Volume]
Index: []

# Data for Vanguard FTSE Developed Markets ETF

In [471]:
ticker = 'VEA'
endpoint_url = f'https://api.polygon.io/v2/aggs/ticker/{ticker}/range/1/day/2023-01-01/2024-07-09?adjusted=true&sort=asc&limit=0&apiKey={polygon_key}'
response = requests.get(endpoint_url)

# Parses JSON string to Python Dictionary
parsed = json.loads(response.content)

In [472]:
# Creates data frame with column names
df_etf = pd.DataFrame(columns=['Date','Open', 'High', 'Low', 'Close', 'Volume', 'VWAP', 'Transactions'])

# Loops through 'results'
for row in parsed['results']:
    # Extracts the data and creates a new row
    new_row = {'Date': row['t'], 'Open': row['o'], 'High': row['h'],
                'Low': row['l'], 'Close': row['c'], 'Volume': row['v'], 'VWAP': row['vw'], 'Transactions': row['n']}
    # Appends new row to data frame
    df_etf = pd.concat([df_etf, pd.DataFrame([new_row])], ignore_index=True)

/var/folders/7z/62zqq87s4kgflwh21c1mktwh0000gn/T/ipykernel_65913/3202851404.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_etf = pd.concat([df_etf, pd.DataFrame([new_row])], ignore_index=True)

In [473]:
# Converts unix Msec timestamp to month/day/year format
df_etf['Date'] = pd.to_datetime(df_etf['Date'], unit='ms').dt.strftime('%m/%d/%y')

# Rounds daily low to nears two decimal point
df_etf = df_etf.round(2)

In [474]:
df_etf_nasdaq = pd.read_csv('csv_files/VEA.csv')

In [475]:
# Price numbers are already in proper format
# No need to replace '$' and change to float type

# Rounds all values to 2 decimal places
df_etf_nasdaq = df_etf_nasdaq.round(2)

# Date is already in the m/d/y format
#df_etf_nasdaq['Date'] = pd.to_datetime(df_etf_nasdaq['Date']).dt.strftime('%m/%d/%y')

In [476]:
# Reverses dataframe so it follows same order as original df
df_etf_nasdaq = df_etf_nasdaq[::-1]
df_etf_nasdaq = df_etf_nasdaq.reset_index(drop='True')

In [477]:
# $0.01 discrepancy for daily high on 05/30/23
# Negligible
cols = ['Open', 'High', 'Low', 'Close']
df_difference = df_etf[cols] - df_etf_nasdaq[cols]
df_difference[(df_difference[['Open', 'Close', 'High', 'Low']] != 0).any(axis=1)]
#df_etf.loc[101]

     Open  High  Low  Close
101   0.0 -0.01  0.0    0.0

# Forex GBP/USD Data

In [478]:
ticker = 'C:GBPUSD'
endpoint_url = f'https://api.polygon.io/v2/aggs/ticker/{ticker}/range/1/day/2023-01-01/2024-07-09?adjusted=true&sort=asc&apiKey={polygon_key}'
response = requests.get(endpoint_url)

# Parses JSON string to Python Dictionary
parsed = json.loads(response.content)

In [479]:
# Creates data frame with column names
df_forex = pd.DataFrame(columns=['Date','Open', 'High', 'Low', 'Close', 'Volume', 'VWAP', 'Transactions'])

# Loops through 'results'
for row in parsed['results']:
    # Extracts the data and creates a new row
    new_row = {'Date': row['t'], 'Open': row['o'], 'High': row['h'],
                'Low': row['l'], 'Close': row['c'], 'Volume': row['v'], 'VWAP': row['vw'], 'Transactions': row['n']}
    # Appends new row to data frame
    df_forex = pd.concat([df_forex, pd.DataFrame([new_row])], ignore_index=True)

/var/folders/7z/62zqq87s4kgflwh21c1mktwh0000gn/T/ipykernel_65913/2559983708.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_forex = pd.concat([df_forex, pd.DataFrame([new_row])], ignore_index=True)

In [480]:
# Converts unix Msec timestamp to month/day/year format
df_forex['Date'] = pd.to_datetime(df_forex['Date'], unit='ms').dt.strftime('%m/%d/%y')

# Don't want to round values to 2 decimal places

In [481]:
# Historical data from Yahoo Finance
df_forex_yahoo = pd.read_csv('csv_files/FOREX.csv')

In [482]:
# Formats dates from year/month/day to month/day/year
df_forex_yahoo['Date'] = pd.to_datetime(df_forex_yahoo['Date']).dt.strftime('%m/%d/%y')

#df_forex_yahoo.info()
# One row contains null values gets changed to 0
df_forex_yahoo = df_forex_yahoo.fillna(0)

In [483]:
# Change the index of the dataframes to date so we can subtract properly 
df_forex = df_forex.set_index('Date', drop='True')
df_forex_yahoo = df_forex_yahoo.set_index('Date', drop='True')

In [484]:
# A lot of 
cols = ['Open', 'High', 'Low', 'Close']
df_difference = df_forex[cols] - df_forex_yahoo[cols]

# Changed the format to year/month/day so values can be sorted properly
df_difference.index = pd.to_datetime(df_difference.index, format='%m/%d/%y').strftime('%y-%m-%d')

# A lot of discrepancies with data, but most were very small with only one different surpassing .02
# Not all dates had data available across multiple sources (Nasdaq, Yahoo Finance, etc...)
df_difference[(df_difference[['Open', 'Close', 'High', 'Low']] >= 0.02).any(axis=1)].sort_index()

              Open      High       Low     Close
Date
23-11-14 -0.000064  0.001802 -0.000142  0.021226
24-07-05  1.275460  1.281800  1.275300  1.281300

In [485]:
# Reset indicies back to original
df_forex = df_forex.reset_index()
df_forex_yahoo = df_forex_yahoo.reset_index()

# Metrics Calculations

# Portfolio Breakdown
- 20k on Nike
- 5k on Deckers Outdoor Corporation
- 50k on Spotify
- 15k on Vanguard FTSE Developed Markets ETF
- 10k on GBP/USD Forex

In [728]:
# Create another dataframe
# Add percent change column based previous days close price
df_nike2 = df_nike.copy()
df_nike2['Percent Change'] = df_nike['Close'].pct_change().fillna(0)

# Calculate daily return
list = [0]
previous = 20000
for val in df_nike2['Percent Change'][1:]:
    new = round(val * previous, 2)
    list.append(new)
    previous = previous + new
df_nike2['Return'] = list

In [730]:
# Create another dataframe
# Add percent change column based previous days close price
df_decker2 = df_decker.copy()
df_decker2['Percent Change'] = df_decker2['Close'].pct_change().fillna(0)

# Calculate daily return
list = [0]
previous = 5000
for val in df_decker2['Percent Change'][1:]:
    new = round(val * previous, 2)
    list.append(new)
    previous = previous + new
df_decker2['Return'] = list

In [731]:
# Create another dataframe
# Add percent change column based previous days close price
df_spotify2 = df_spotify.copy()
df_spotify2['Percent Change'] = df_spotify2['Close'].pct_change().fillna(0)

# Calculate daily return
list = [0]
previous = 50000
for val in df_spotify2['Percent Change'][1:]:
    new = round(val * previous, 2)
    list.append(new)
    previous = previous + new
df_spotify2['Return'] = list

In [1000]:
# Create another dataframe
# Add percent change column based previous days close price
df_etf2 = df_etf.copy()
df_etf2['Percent Change'] = df_etf2['Close'].pct_change().fillna(0)

# Calculate daily return
list = [0]
previous = 15000
for val in df_etf2['Percent Change'][1:]:
    new = round(val * previous, 2)
    list.append(new)
    previous = previous + new
df_etf2['Return'] = list

In [693]:
# Create another dataframe
# Add percent change column based previous days close price
df_forex2 = df_forex.copy()
df_forex2['Percent Change'] = df_forex2['Close'].pct_change().fillna(0)

# Calculate daily return
list = [0]
previous = 10000
for val in df_forex2['Percent Change'][1:]:
    new = round(val * previous, 2)
    list.append(new)
    previous = previous + new
df_forex2['Return'] = list

In [735]:
# Merges all cumulative returns for all 5 investments into single table
df_returns = pd.merge(df_forex2[['Date', 'Return']], df_etf2[['Date', 'Return']], on = 'Date', how = 'left', suffixes=(' Forex', ' ETF'))
df_returns = df_returns.merge(df_nike2[['Date', 'Return']], on = 'Date', how = 'left')
df_returns = df_returns.merge(df_decker2[['Date', 'Return']], on = 'Date', how = 'left')
df_returns = df_returns.merge(df_spotify2[['Date', 'Return']], on = 'Date', how = 'left')
df_returns = df_returns.fillna(0)

# Rename columns to appropriate names
df_returns = df_returns.rename(columns={'Return_x': 'Return Nike', 'Return_y': 'Return Deckers', 'Return': 'Return Spotify'})

# Sums all returns to one Total Daily Return column
df_returns['Total Returns'] = df_returns.sum(axis=1, numeric_only='True')

# Create CSV files from Dataframes
# Load files to SQL database

In [696]:
df_nike2.index = df_nike2.index + 1
df_nike2['Percent Change'] = df_nike2['Percent Change'].round(5)
df_nike2.to_csv('Nike_Table.csv', float_format='%f')

In [697]:
df_decker2.index = df_decker2.index + 1
df_decker2['Percent Change'] = df_decker2['Percent Change'].round(5)
df_decker2.to_csv('Decker_Table.csv', float_format='%f')

In [698]:
df_spotify2.index = df_spotify2.index + 1
df_spotify2['Percent Change'] = df_spotify2['Percent Change'].round(5)
df_spotify2.to_csv('Spotify_Table.csv', float_format='%f')

In [704]:
df_etf2.index = df_etf2.index + 1
df_etf2['Percent Change'] = df_etf2['Percent Change'].round(5)
df_etf2.to_csv('ETF_Table.csv', float_format='%f')

In [700]:
df_forex2.index = df_forex2.index + 1
df_forex2['Percent Change'] = df_forex2['Percent Change'].round(5)
df_forex2.to_csv('Forex_Table.csv', float_format='%f')

In [709]:
df_returns.index = df_returns.index + 1
df_returns.to_csv('Returns.csv', float_format='%f')

In [761]:
# Merges all dataframes so I can calculate weighted percent change
df_pc = pd.merge(df_forex2[['Date', 'Percent Change']], df_etf2[['Date', 'Percent Change']], on = 'Date', how = 'left', suffixes=(' Forex', ' ETF'))
df_pc = df_pc.merge(df_nike2[['Date', 'Percent Change']], on = 'Date', how = 'left')
df_pc = df_pc.merge(df_decker2[['Date', 'Percent Change']], on = 'Date', how = 'left')
df_pc = df_pc.merge(df_spotify2[['Date', 'Percent Change']], on = 'Date', how = 'left')
df_pc = df_pc.fillna(0)

# Rename columns to appropriate names
df_pc = df_pc.rename(columns={'Percent Change_x': 'Percent Change Nike', 'Percent Change_y': 'Percent Change Deckers', 'Percent Change': 'Percent Change Spotify'})

# Portfolio Metrics

In [800]:
# Total Returns of Portfolio
total_returns = df_returns['Total Returns'].sum()
total_returns

np.float64(142853.91)

In [802]:
# Cumulative Returns 

# Shows returns by month
df_returns['Date'] = pd.to_datetime(df_returns['Date'], format='%m/%d/%y')
month_returns = df_returns.groupby([df_returns.Date.dt.year, df_returns.Date.dt.month]).agg({'Total Returns': 'sum'})

# Shows daily return for each stock as well as total return
df_returns

,Date,Return Forex,Return ETF,Return Nike,Return Deckers,Return Spotify,Total Returns
0,01/01/23,0.00,0.00,0.00,0.00,0.00,0.00
1,01/02/23,-17.96,0.00,0.00,0.00,0.00,-17.96
2,01/03/23,-80.03,0.00,0.00,0.00,0.00,-80.03
3,01/04/23,74.73,223.93,414.32,9.12,-347.99,374.11
4,01/05/23,-122.98,-170.62,-99.37,66.03,152.63,-174.31
...,...,...,...,...,...,...,...
491,07/04/24,6.62,0.00,0.00,0.00,0.00,6.62
492,07/05/24,48.33,113.74,32.00,46.63,1251.53,1492.23
493,07/07/24,-5.79,0.00,0.00,0.00,0.00,-5.79
494,07/08/24,7.20,-78.20,-400.84,171.88,-1916.97,-2216.93
495,07/09/24,-23.75,-60.43,-99.37,-175.35,-1318.68,-1677.58

In [807]:
# Annualized Return
df_returns['Date'] = pd.to_datetime(df_returns['Date'], format='%m/%d/%y')
annual_returns = df_returns.groupby([df_returns.Date.dt.year]).agg({'Total Returns': 'sum'})
annual_returns

      Total Returns
Date
2023       69150.50
2024       73703.41

In [991]:
# Measure Volatility of Portfolio
df_pc['Weighted Returns'] = (df_pc['Percent Change Nike'] * .20) + (df_pc['Percent Change Deckers'] * .05) + (df_pc['Percent Change Spotify'] * .50) + (df_pc['Percent Change ETF'] * .15) + (df_pc['Percent Change Forex'] * .100)
volatility = df_pc['Weighted Returns'].std()
volatility

np.float64(0.012132606998778292)

In [796]:
import math
# Measure Sharpe Ratio

# Calculate Scaled holding period
hp= ((100000 + df_returns['Total Returns'].sum()) / 100000) - 1
shp = hp * (365/496)

# Calculate annualized volatility 
av = volatility * math.sqrt(261)

sharpe_ratio = (shp-.03)/av
sharpe_ratio

np.float64(5.210206276578376)

# Metrics for Nike

In [1004]:
# Total Return
print(df_nike2['Return'].sum())

# Monthly Returns
df_returns.groupby([df_returns.Date.dt.year, df_returns.Date.dt.month]).agg({'Return Nike': 'sum'})

# Volatility 
df_nike2['Percent Change'].std()

TypeError: 'NoneType' object is not subscriptable

In [830]:
# Sharpe Ratio

hp= ((20000 + df_returns['Return Nike'].sum()) / 20000) - 1
shp = hp * (252/365)

# Calculate annualized volatility 
av = df_nike2['Percent Change'].std() * math.sqrt(252)

sharpe_ratio = (shp-.03)/av
sharpe_ratio

np.float64(-0.9866551072475059)

# Pulling in Nasdaq-100 index data

In [863]:
# Read csv file from Nasdaq. Polygon's data didn't go back far enough.
df_ndx = pd.read_csv('csv_files/NDX.csv')

In [864]:
df_ndx = df_ndx[::-1].reset_index(drop=True)
df_ndx['Percent Change'] = df_ndx['Close'].pct_change().fillna(0)
df_ndx['Date'] = pd.to_datetime(df_ndx['Date']).dt.strftime('%m/%d/%y')

In [894]:
# Creates CSV to load into SQL Database
df_ndx.index = df_ndx.index + 1
df_ndx['Percent Change'] = df_ndx['Percent Change'].round(5)
df_ndx.to_csv('NDX_Table.csv', float_format='%f')

In [ ]:
# Moving 10 day and 100 day average

df_nike2['Percent Change'].rolling(window=10).mean()
df_ndx['Percent Change'].rolling(window=10).mean()

In [875]:
# Beta calculations
df_cov = pd.merge(df_ndx[['Date', 'Percent Change']], df_nike2[['Date', 'Percent Change']], on='Date')
df_cov = df_cov.drop(columns={'Date'})

variance = df_ndx['Percent Change'].var()
covariance = df_cov.cov()['Percent Change_x']['Percent Change_y']

covariance/variance

np.float64(0.5270538608017314)

# Metrics for Deckers

In [878]:
# Total Return
df_decker2['Return'].sum()

# Monthly Returns
df_returns.groupby([df_returns.Date.dt.year, df_returns.Date.dt.month]).agg({'Return Deckers': 'sum'})

# Volatility 
df_decker2['Percent Change'].std()

np.float64(0.02167833424456855)

In [880]:
# Sharpe Ratio

hp= ((5000 + df_returns['Return Deckers'].sum()) / 5000) - 1
shp = hp * (252/365)

# Calculate annualized volatility 
av = df_decker2['Percent Change'].std() * math.sqrt(252)

sharpe_ratio = (shp-.03)/av
sharpe_ratio

np.float64(2.7467777832630107)

In [ ]:
# Moving 10 day and 100 day average

df_decker2['Percent Change'].rolling(window=10).mean()
df_ndx['Percent Change'].rolling(window=10).mean()

In [882]:
# Beta calculations
df_cov = pd.merge(df_ndx[['Date', 'Percent Change']], df_decker2[['Date', 'Percent Change']], on='Date')
df_cov = df_cov.drop(columns={'Date'})

variance = df_ndx['Percent Change'].var()
covariance = df_cov.cov()['Percent Change_x']['Percent Change_y']

covariance/variance

np.float64(0.7105130905315041)

# Metrics for Spotify

In [883]:
# Total Return
df_spotify2['Return'].sum()

# Monthly Returns
df_returns.groupby([df_returns.Date.dt.year, df_returns.Date.dt.month]).agg({'Return Spotify': 'sum'})

# Volatility 
df_spotify2['Percent Change'].std()

np.float64(0.023922800784499564)

In [885]:
# Sharpe Ratio

hp= ((50000 + df_returns['Return Spotify'].sum()) / 50000) - 1
shp = hp * (252/365)

# Calculate annualized volatility 
av = df_spotify2['Percent Change'].std() * math.sqrt(252)

sharpe_ratio = (shp-.03)/av
sharpe_ratio

np.float64(5.018750392698874)

In [886]:
# Moving 10 day and 100 day average

df_spotify2['Percent Change'].rolling(window=10).mean()
df_ndx['Percent Change'].rolling(window=10).mean()

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
375    0.000573
376    0.001415
377    0.003219
378    0.003715
379    0.004927
Name: Percent Change, Length: 380, dtype: float64

In [887]:
# Beta calculations
df_cov = pd.merge(df_ndx[['Date', 'Percent Change']], df_spotify2[['Date', 'Percent Change']], on='Date')
df_cov = df_cov.drop(columns={'Date'})

variance = df_ndx['Percent Change'].var()
covariance = df_cov.cov()['Percent Change_x']['Percent Change_y']

covariance/variance

np.float64(0.9290956361724463)

# Metrics for Vanguard Developed Markets ETF

In [1001]:
df_etf2

,Date,Open,High,Low,Close,Volume,VWAP,Transactions,Percent Change,Return
0,01/03/23,42.40,42.64,42.03,42.20,11990004.0,42.23,38830,0.000000,0.00
1,01/04/23,42.85,42.95,42.52,42.83,13229545.0,42.81,42125,0.014929,223.93
2,01/05/23,42.42,42.53,42.27,42.35,9324542.0,42.40,30234,-0.011207,-170.62
3,01/06/23,42.66,43.55,42.45,43.52,10441417.0,43.26,29984,0.027627,415.88
4,01/09/23,43.89,44.14,43.71,43.71,12426293.0,43.95,40155,0.004366,67.54
...,...,...,...,...,...,...,...,...,...,...
375,07/02/24,49.33,49.60,49.26,49.57,9674116.0,49.43,29669,0.002224,39.10
376,07/03/24,49.81,50.22,49.81,50.16,6989690.0,50.13,20772,0.011902,209.71
377,07/05/24,50.62,50.62,50.18,50.48,7271284.0,50.40,27871,0.006380,113.74
378,07/08/24,50.52,50.56,50.23,50.26,8229614.0,50.35,29295,-0.004358,-78.20
379,07/09/24,50.24,50.24,49.96,50.09,11107321.0,50.11,30950,-0.003382,-60.43

In [1002]:
# Total Return
df_etf2['Return'].sum()

# Monthly Returns
df_returns.groupby([df_returns.Date.dt.year, df_returns.Date.dt.month]).agg({'Return ETF': 'sum'})

# Volatility 
df_etf2['Percent Change'].std()

np.float64(0.00830701127374092)

In [1003]:
# Sharpe Ratio

hp= ((15000 + df_returns['Return ETF'].sum()) / 15000) - 1
shp = hp * (252/365)

# Calculate annualized volatility 
av = df_etf2['Percent Change'].std() * math.sqrt(252)

sharpe_ratio = (shp-.03)/av
sharpe_ratio

np.float64(0.7513488052596894)

In [ ]:
# Moving 10 day and 100 day average

df_etf2['Percent Change'].rolling(window=10).mean()
df_ndx['Percent Change'].rolling(window=10).mean()

In [892]:
# Beta calculations
df_cov = pd.merge(df_ndx[['Date', 'Percent Change']], df_etf2[['Date', 'Percent Change']], on='Date')
df_cov = df_cov.drop(columns={'Date'})

variance = df_ndx['Percent Change'].var()
covariance = df_cov.cov()['Percent Change_x']['Percent Change_y']

covariance/variance

np.float64(0.4832295901331863)

# Forex Metrics

In [905]:
# Total Return
df_forex2['Return'].sum()

# Cumulative Return
df_returns.groupby([df_returns.Date.dt.year, df_returns.Date.dt.month]).agg({'Return Forex': 'sum'})

# Daily Returns
df_forex2[['Date', 'Return']]

# Percent Change
df_forex2[['Date', 'Close', 'Percent Change']]

# Volatility
df_forex2['Percent Change'].std()

np.float64(0.004123491421716438)

# Google Trends API

In [948]:
endpoint_url = f'https://serpapi.com/search.json?engine=google_trends&q=nike&data_type=TIMESERIES&date=2023-01-01 2024-07-09&api_key={serpapi_key}'
response = requests.get(endpoint_url)

# Parses JSON string to Python Dictionary
parsed = json.loads(response.content)

In [942]:
endpoint_url = f'https://serpapi.com/search.json?engine=google_trends&q=hoka&data_type=TIMESERIES&date=2023-01-01 2024-07-09&api_key={serpapi_key}'
response = requests.get(endpoint_url)

# Parses JSON string to Python Dictionary
parsed2= json.loads(response.content)

In [960]:
parsed

{'search_metadata': {'id': '669065c5a3f4efb91d8602cd',
  'status': 'Success',
  'json_endpoint': 'https://serpapi.com/searches/93a8cb5ed7edb4e1/669065c5a3f4efb91d8602cd.json',
  'created_at': '2024-07-11 23:07:49 UTC',
  'processed_at': '2024-07-11 23:07:49 UTC',
  'google_trends_url': 'https://trends.google.com/trends/api/explore?tz=420&req=%7B%22comparisonItem%22%3A%5B%7B%22keyword%22%3A%22nike%22%2C%22geo%22%3A%22%22%2C%22time%22%3A%222023-01-01+2024-07-09%22%7D%5D%2C%22category%22%3A0%2C%22property%22%3A%22%22%2C%22userConfig%22%3A%22%7BuserType%3A+%5C%22USER_TYPE_LEGIT_USER%5C%22%7D%22%7D',
  'raw_html_file': 'https://serpapi.com/searches/93a8cb5ed7edb4e1/669065c5a3f4efb91d8602cd.html',
  'prettify_html_file': 'https://serpapi.com/searches/93a8cb5ed7edb4e1/669065c5a3f4efb91d8602cd.prettify',
  'total_time_taken': 4.98},
 'search_parameters': {'engine': 'google_trends',
  'q': 'nike',
  'date': '2023-01-01 2024-07-09',
  'tz': '420',
  'data_type': 'TIMESERIES'},
 'interest_over_time': {'timeline_data': [{'date': 'Jan 1\u2009â€“\u20097, 2023',
    'timestamp': '1672531200',
    'values': [{'query': 'nike', 'value': '78', 'extracted_value': 78}]},
   {'date': 'Jan 8\u2009â€“\u200914, 2023',
    'timestamp': '1673136000',
    'values': [{'query': 'nike', 'value': '74', 'extracted_value': 74}]},
   {'date': 'Jan 15\u2009â€“\u200921, 2023',
    'timestamp': '1673740800',
    'values': [{'query': 'nike', 'value': '71', 'extracted_value': 71}]},
   {'date': 'Jan 22\u2009â€“\u200928, 2023',
    'timestamp': '1674345600',
    'values': [{'query': 'nike', 'value': '70', 'extracted_value': 70}]},
   {'date': 'Jan 29\u2009â€“\u2009Feb 4, 2023',
    'timestamp': '1674950400',
    'values': [{'query': 'nike', 'value': '70', 'extracted_value': 70}]},
   {'date': 'Feb 5\u2009â€“\u200911, 2023',
    'timestamp': '1675555200',
    'values': [{'query': 'nike', 'value': '70', 'extracted_value': 70}]},
   {'date': 'Feb 12\u2009â€“\u200918, 2023',
    'timestamp': '1676160000',
    'values': [{'query': 'nike', 'value': '67', 'extracted_value': 67}]},
   {'date': 'Feb 19\u2009â€“\u200925, 2023',
    'timestamp': '1676764800',
    'values': [{'query': 'nike', 'value': '71', 'extracted_value': 71}]},
   {'date': 'Feb 26\u2009â€“\u2009Mar 4, 2023',
    'timestamp': '1677369600',
    'values': [{'query': 'nike', 'value': '72', 'extracted_value': 72}]},
   {'date': 'Mar 5\u2009â€“\u200911, 2023',
    'timestamp': '1677974400',
    'values': [{'query': 'nike', 'value': '73', 'extracted_value': 73}]},
   {'date': 'Mar 12\u2009â€“\u200918, 2023',
    'timestamp': '1678579200',
    'values': [{'query': 'nike', 'value': '73', 'extracted_value': 73}]},
   {'date': 'Mar 19\u2009â€“\u200925, 2023',
    'timestamp': '1679184000',
    'values': [{'query': 'nike', 'value': '72', 'extracted_value': 72}]},
   {'date': 'Mar 26\u2009â€“\u2009Apr 1, 2023',
    'timestamp': '1679788800',
    'values': [{'query': 'nike', 'value': '73', 'extracted_value': 73}]},
   {'date': 'Apr 2\u2009â€“\u20098, 2023',
    'timestamp': '1680393600',
    'values': [{'query': 'nike', 'value': '75', 'extracted_value': 75}]},
   {'date': 'Apr 9\u2009â€“\u200915, 2023',
    'timestamp': '1680998400',
    'values': [{'query': 'nike', 'value': '79', 'extracted_value': 79}]},
   {'date': 'Apr 16\u2009â€“\u200922, 2023',
    'timestamp': '1681603200',
    'values': [{'query': 'nike', 'value': '80', 'extracted_value': 80}]},
   {'date': 'Apr 23\u2009â€“\u200929, 2023',
    'timestamp': '1682208000',
    'values': [{'query': 'nike', 'value': '71', 'extracted_value': 71}]},
   {'date': 'Apr 30\u2009â€“\u2009May 6, 2023',
    'timestamp': '1682812800',
    'values': [{'query': 'nike', 'value': '72', 'extracted_value': 72}]},
   {'date': 'May 7\u2009â€“\u200913, 2023',
    'timestamp': '1683417600',
    'values': [{'query': 'nike', 'value': '71', 'extracted_value': 71}]},
   {'date': 'May 14\u2009â€“\u200920, 2023',
    'timestamp': '1684022400',
    'values': [{'query': 'nike', 'value': '74', 'extracted_value': 74}]},
   {'date': 'May 21\u2009â€“\u200927, 2023',
    'timestamp': '1684627200',
    'values': [{'query': 'nike', 'value': '69', 'extracted_value': 69}]},
   {'date': 'May 28\u2009â€“\u2009Jun 3, 2023',
    'timestamp': '1685232000',
    'values': [{'query': 'nike', 'value': '73', 'extracted_value': 73}]},
   {'date': 'Jun 4\u2009â€“\u200910, 2023',
    'timestamp': '1685836800',
    'values': [{'query': 'nike', 'value': '71', 'extracted_value': 71}]},
   {'date': 'Jun 11\u2009â€“\u200917, 2023',
    'timestamp': '1686441600',
    'values': [{'query': 'nike', 'value': '68', 'extracted_value': 68}]},
   {'date': 'Jun 18\u2009â€“\u200924, 2023',
    'timestamp': '1687046400',
    'values': [{'query': 'nike', 'value': '65', 'extracted_value': 65}]},
   {'date': 'Jun 25\u2009â€“\u2009Jul 1, 2023',
    'timestamp': '1687651200',
    'values': [{'query': 'nike', 'value': '64', 'extracted_value': 64}]},
   {'date': 'Jul 2\u2009â€“\u20098, 2023',
    'timestamp': '1688256000',
    'values': [{'query': 'nike', 'value': '73', 'extracted_value': 73}]},
   {'date': 'Jul 9\u2009â€“\u200915, 2023',
    'timestamp': '1688860800',
    'values': [{'query': 'nike', 'value': '68', 'extracted_value': 68}]},
   {'date': 'Jul 16\u2009â€“\u200922, 2023',
    'timestamp': '1689465600',
    'values': [{'query': 'nike', 'value': '67', 'extracted_value': 67}]},
   {'date': 'Jul 23\u2009â€“\u200929, 2023',
    'timestamp': '1690070400',
    'values': [{'query': 'nike', 'value': '72', 'extracted_value': 72}]},
   {'date': 'Jul 30\u2009â€“\u2009Aug 5, 2023',
    'timestamp': '1690675200',
    'values': [{'query': 'nike', 'value': '73', 'extracted_value': 73}]},
   {'date': 'Aug 6\u2009â€“\u200912, 2023',
    'timestamp': '1691280000',
    'values': [{'query': 'nike', 'value': '73', 'extracted_value': 73}]},
   {'date': 'Aug 13\u2009â€“\u200919, 2023',
    'timestamp': '1691884800',
    'values': [{'query': 'nike', 'value': '71', 'extracted_value': 71}]},
   {'date': 'Aug 20\u2009â€“\u200926, 2023',
    'timestamp': '1692489600',
    'values': [{'query': 'nike', 'value': '73', 'extracted_value': 73}]},
   {'date': 'Aug 27\u2009â€“\u2009Sep 2, 2023',
    'timestamp': '1693094400',
    'values': [{'query': 'nike', 'value': '73', 'extracted_value': 73}]},
   {'date': 'Sep 3\u2009â€“\u20099, 2023',
    'timestamp': '1693699200',
    'values': [{'query': 'nike', 'value': '71', 'extracted_value': 71}]},
   {'date': 'Sep 10\u2009â€“\u200916, 2023',
    'timestamp': '1694304000',
    'values': [{'query': 'nike', 'value': '66', 'extracted_value': 66}]},
   {'date': 'Sep 17\u2009â€“\u200923, 2023',
    'timestamp': '1694908800',
    'values': [{'query': 'nike', 'value': '71', 'extracted_value': 71}]},
   {'date': 'Sep 24\u2009â€“\u200930, 2023',
    'timestamp': '1695513600',
    'values': [{'query': 'nike', 'value': '71', 'extracted_value': 71}]},
   {'date': 'Oct 1\u2009â€“\u20097, 2023',
    'timestamp': '1696118400',
    'values': [{'query': 'nike', 'value': '71', 'extracted_value': 71}]},
   {'date': 'Oct 8\u2009â€“\u200914, 2023',
    'timestamp': '1696723200',
    'values': [{'query': 'nike', 'value': '71', 'extracted_value': 71}]},
   {'date': 'Oct 15\u2009â€“\u200921, 2023',
    'timestamp': '1697328000',
    'values': [{'query': 'nike', 'value': '69', 'extracted_value': 69}]},
   {'date': 'Oct 22\u2009â€“\u200928, 2023',
    'timestamp': '1697932800',
    'values': [{'query': 'nike', 'value': '66', 'extracted_value': 66}]},
   {'date': 'Oct 29\u2009â€“\u2009Nov 4, 2023',
    'timestamp': '1698537600',
    'values': [{'query': 'nike', 'value': '67', 'extracted_value': 67}]},
   {'date': 'Nov 5\u2009â€“\u200911, 2023',
    'timestamp': '1699142400',
    'values': [{'query': 'nike', 'value': '71', 'extracted_value': 71}]},
   {'date': 'Nov 12\u2009â€“\u200918, 2023',
    'timestamp': '1699747200',
    'values': [{'query': 'nike', 'value': '78', 'extracted_value': 78}]},
   {'date': 'Nov 19\u2009â€“\u200925, 2023',
    'timestamp': '1700352000',
    'values': [{'query': 'nike', 'value': '100', 'extracted_value': 100}]},
   {'date': 'Nov 26\u2009â€“\u2009Dec 2, 2023',
    'timestamp': '1700956800',
    'values': [{'query': 'nike', 'value': '85', 'extracted_value': 85}]},
   {'date': 'Dec 3\u2009â€“\u20099, 2023',
    'timestamp': '1701561600',
    'values': [{'query': 'nike', 'value': '82', 'extracted_value': 82}]},
   {'date': 'Dec 10\u2009â€“\u200916, 2023',
    'timestamp': '1702166400',
    'values': [{'query': 'nike', 'value': '85', 'extracted_value': 85}]},
   {'date': 'Dec 17\u2009â€“\u200923, 2023',
    'timestamp': '1702771200',
    'values': [{'query': 'nike', 'value': '78', 'extracted_value': 78}]},
   {'date': 'Dec 24\u2009â€“\u200930, 2023',
    'timestamp': '1703376000',
    'values': [{'query': 'nike', 'value': '79', 'extracted_value': 79}]},
   {'date': 'Dec 31, 2023\u2009â€“\u2009Jan 6, 2024',
    'timestamp': '1703980800',
    'values': [{'query': 'nike', 'value': '69', 'extracted_value': 69}]},
   {'date': 'Jan 7\u2009â€“\u200913, 2024',
    'timestamp': '1704585600',
    'values': [{'query': 'nike', 'value': '69', 'extracted_value': 69}]},
   {'date': 'Jan 14\u2009â€“\u200920, 2024',
    'timestamp': '1705190400',
    'values': [{'query': 'nike', 'value': '63', 'extracted_value': 63}]},
   {'date': 'Jan 21\u2009â€“\u200927, 2024',
    'timestamp': '1705795200',
    'values': [{'query': 'nike', 'value': '58', 'extracted_value': 58}]},
   {'date': 'Jan 28\u2009â€“\u2009Feb 3, 2024',
    'timestamp': '1706400000',
    'values': [{'query': 'nike', 'value': '62', 'extracted_value': 62}]},
   {'date': 'Feb 4\u2009â€“\u200910, 2024',
    'timestamp': '1707004800',
    'values': [{'query': 'nike', 'value': '63', 'extracted_value': 63}]},
   {'date': 'Feb 11\u2009â€“\u200917, 2024',
    'timestamp': '1707609600',
    'values': [{'query': 'nike', 'value': '64', 'extracted_value': 64}]},
   {'date': 'Feb 18\u2009â€“\u200924, 2024',
    'timestamp': '1708214400',
    'values': [{'query': 'nike', 'value': '66', 'extracted_value': 66}]},
   {'date': 'Feb 25\u2009â€“\u2009Mar 2, 2024',
    'timestamp': '1708819200',
    'values': [{'query': 'nike', 'value': '62', 'extracted_value': 62}]},
   {'date': 'Mar 3\u2009â€“\u20099, 2024',
    'timestamp': '1709424000',
    'values': [{'query': 'nike', 'value': '65', 'extracted_value': 65}]},
   {'date': 'Mar 10\u2009â€“\u200916, 2024',
    'timestamp': '1710028800',
    'values': [{'query': 'nike', 'value': '64', 'extracted_value': 64}]},
   {'date': 'Mar 17\u2009â€“\u200923, 2024',
    'timestamp': '1710633600',
    'values': [{'query': 'nike', 'value': '67', 'extracted_value': 67}]},
   {'date': 'Mar 24\u2009â€“\u200930, 2024',
    'timestamp': '1711238400',
    'values': [{'query': 'nike', 'value': '68', 'extracted_value': 68}]},
   {'date': 'Mar 31\u2009â€“\u2009Apr 6, 2024',
    'timestamp': '1711843200',
    'values': [{'query': 'nike', 'value': '68', 'extracted_value': 68}]},
   {'date': 'Apr 7\u2009â€“\u200913, 2024',
    'timestamp': '1712448000',
    'values': [{'query': 'nike', 'value': '67', 'extracted_value': 67}]},
   {'date': 'Apr 14\u2009â€“\u200920, 2024',
    'timestamp': '1713052800',
    'values': [{'query': 'nike', 'value': '71', 'extracted_value': 71}]},
   {'date': 'Apr 21\u2009â€“\u200927, 2024',
    'timestamp': '1713657600',
    'values': [{'query': 'nike', 'value': '65', 'extracted_value': 65}]},
   {'date': 'Apr 28\u2009â€“\u2009May 4, 2024',
    'timestamp': '1714262400',
    'values': [{'query': 'nike', 'value': '68', 'extracted_value': 68}]},
   {'date': 'May 5\u2009â€“\u200911, 2024',
    'timestamp': '1714867200',
    'values': [{'query': 'nike', 'value': '63', 'extracted_value': 63}]},
   {'date': 'May 12\u2009â€“\u200918, 2024',
    'timestamp': '1715472000',
    'values': [{'query': 'nike', 'value': '61', 'extracted_value': 61}]},
   {'date': 'May 19\u2009â€“\u200925, 2024',
    'timestamp': '1716076800',
    'values': [{'query': 'nike', 'value': '63', 'extracted_value': 63}]},
   {'date': 'May 26\u2009â€“\u2009Jun 1, 2024',
    'timestamp': '1716681600',
    'values': [{'query': 'nike', 'value': '63', 'extracted_value': 63}]},
   {'date': 'Jun 2\u2009â€“\u20098, 2024',
    'timestamp': '1717286400',
    'values': [{'query': 'nike', 'value': '63', 'extracted_value': 63}]},
   {'date': 'Jun 9\u2009â€“\u200915, 2024',
    'timestamp': '1717891200',
    'values': [{'query': 'nike', 'value': '63', 'extracted_value': 63}]},
   {'date': 'Jun 16\u2009â€“\u200922, 2024',
    'timestamp': '1718496000',
    'values': [{'query': 'nike', 'value': '58', 'extracted_value': 58}]},
   {'date': 'Jun 23\u2009â€“\u200929, 2024',
    'timestamp': '1719100800',
    'values': [{'query': 'nike', 'value': '61', 'extracted_value': 61}]},
   {'date': 'Jun 30\u2009â€“\u2009Jul 6, 2024',
    'timestamp': '1719705600',
    'values': [{'query': 'nike', 'value': '61', 'extracted_value': 61}]},
   {'date': 'Jul 7\u2009â€“\u200913, 2024',
    'timestamp': '1720310400',
    'values': [{'query': 'nike', 'value': '61', 'extracted_value': 61}]}]}}

In [986]:
# Creates dataframe to store their search interest
df_google_trends = pd.DataFrame(columns=['Date', 'Nike', 'Hoka'])
for nike, hoka in zip(parsed['interest_over_time']['timeline_data'], parsed2['interest_over_time']['timeline_data']):
    values = nike['values']
    values2 = hoka['values']
    new_row = {'Date': nike['timestamp'], 'Nike': values[0]['value'],
              'Hoka': values2[0]['value']}
    df_google_trends = pd.concat([df_google_trends, pd.DataFrame([new_row])], ignore_index=True)

In [987]:
# Converts unix Msec timestamp to month/day/year format
df_google_trends['Date'] = pd.to_datetime(df_google_trends['Date'], unit='s').dt.strftime('%m/%d/%y')

/var/folders/7z/62zqq87s4kgflwh21c1mktwh0000gn/T/ipykernel_65913/3905668183.py:2: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  df_google_trends['Date'] = pd.to_datetime(df_google_trends['Date'], unit='s').dt.strftime('%m/%d/%y')

In [989]:
df_google_trends.to_csv('GT_Table.csv', float_format='%f')

In [982]:
db['nike'] = df_nike2
db['decker'] = df_decker2
db['spotify'] = df_spotify2
db['etf'] = df_etf2
db['forex'] = df_forex2
db['google_trends'] = df_google_trends
db['ndx'] = df_ndx

In [983]:
test_var = '123'
%store test_var

Stored 'test_var' (str)

/Users/kevinwu/Documents/SkillStorm/.venv/lib/python3.12/site-packages/IPython/extensions/storemagic.py:229: UserWarning: This is now an optional IPython functionality, setting autorestore/test_var requires you to install the `pickleshare` library.
  db[ 'autorestore/' + arg ] = obj